.main-header {
  margin: 30px 0px;

  h1 {
    color: #2e384d;
    font-size: 34px;
    font-weight: 300;
    line-height: 1;
  }

  p {
    margin-top: 8px;
    font-size: 23px;
    font-weight: 500;
    color: rgb(153, 160, 170);
  }
}
