<div class="container">
  <div class="login">
    <h1 class="get-started">Get started for free</h1>
    <div class="sign-with">
      <a href="#" class="btn-rounded"> <span>Register with Google</span></a>
      <a href="#" class="btn-rounded"> <span>Register with Github</span></a>
      <a href="#" class="btn-rounded"> <span>Register with LinkedIn</span></a>
      <a href="#" class="btn-rounded"> <span>Register with Facebook</span></a>
    </div>
    <div class="line">
      <span> Or </span>
    </div>
    <form class="login-form">
      <div class="form-input">
        <mat-icon>perm_identity</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email">
          <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
        </mat-form-field>
      </div>
      <mat-checkbox>I accept <span><a class="link">terms</a></span> of service* </mat-checkbox>
      <button class="submit-btn" type="submit">Register</button>
    </form>

    <!-- <div class=""> -->
    <div class="register">
      <h6>Already have an account? <span><a class="link">Sign in</a></span></h6>
    </div>
    <div class="line-between"></div>
    <div class="forgot-password">
      <a class="link">Forgot password?</a>
    </div>
    <!-- <router-outlet></router-outlet> -->

  </div>
  <div class="login-img">
    <!-- <img href="../../../../../assets/images/software.png"> -->

  </div>
</div>
