<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false" position="end">
    <mat-toolbar class="mobile-toolbar"><span class="header-logo">Menu</span>
      <button type="button" class="btn-toggle-nav" aria-label="Toggle sidenav" mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button></mat-toolbar>
    <mat-nav-list class="nav-list mobile-menu">
      <a class="sidenav-list-item sign-as-Dev" [routerLink]="appRouterUrls.LOGIN">
        <div class="icon-outline">
          <mat-icon aria-label="">face</mat-icon>
        </div>
        Sign in as Developer
      </a>
      <a class="sidenav-list-item" [routerLink]="appRouterUrls.DEFAULT" [routerLinkActive]="'active'">
        <mat-icon aria-label="">work_outline</mat-icon>
        Job offers
      </a>
      <a class="sidenav-list-item" [routerLink]="appRouterUrls.BRANDS" [routerLinkActive]="'active'">
        <mat-icon aria-label="">business</mat-icon> Brand stories
      </a>
      <a class="sidenav-list-item" href="https://geek.justjoin.it/" target="_blank">
        <mat-icon aria-label="">menu_book</mat-icon>Just Geek IT
      </a>
      <a class="sidenav-list-item" href="#">
        <mat-icon aria-label="">people</mat-icon> Matchmaking
      </a>
      <div class="night-switch">
        <div class="switch">
          <mat-icon>wb_sunny</mat-icon>
          <mat-slide-toggle class="night-toggle"></mat-slide-toggle>
          <mat-icon> brightness_3</mat-icon>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="header-container">
      <div class="header-mobile">
        <a class="header-logo" [routerLink]="appRouterUrls.DEFAULT">justjoin.it</a>
        <button class="btn-toggle-nav" type="button" aria-label="Toggle sidenav" mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
      <div class="sign-btns">
        <a matRipple class="mobile-register btn-rounded" [routerLink]="appRouterUrls.REGISTER">Register</a>
        <a matRipple class="mobile-sign btn-rounded" [routerLink]="appRouterUrls.LOGIN">Sign in</a>
      </div>
    </div>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
