<app-filters *ngIf="isDesktopWidth">
  <div class="filters-tech">
    <div class="btn-all">
      <div class="filter-btn waves-effect" [ngClass]="{
          active: selectedTech === 'All'
        }" (click)="selectedTech = 'All'">
        All
      </div>
    </div>
    <div class="tech" *ngFor="let tech of technologies" (click)="selectedTech = tech">
      <div class="filter-btn waves-effect" [ngClass]="{
          active: tech === selectedTech,
          inactive: tech !== selectedTech && selectedTech !== 'All'
        }">
        {{ tech }}
      </div>
      <span>{{ tech }}</span>
    </div>
    <div class="filter-btn more wave-effect" (click)="onShow = !onShow">
      <mat-icon>more_horiz</mat-icon>
      <div class="other-options" [ngClass]="{ show: onShow }">
        <div class="tech other-option" *ngFor="let otherOption of otherTechnologies"
          (click)="selectedTech = otherOption">
          <div class="filter-btn waves-effect" [ngClass]="{
              active: otherOption === selectedTech,
              inactive: otherOption !== selectedTech && selectedTech !== 'All'
            }">
            {{ otherOption }}
          </div>
          <span>{{ otherOption }}</span>
        </div>
      </div>
    </div>
    <div class="right-dropdowns">
      <div class="filter-btn dropdown wave-effect"
        (click)="onShowSalary = !onShowSalary">
        $ Salary
        <mat-icon>expand_more</mat-icon>
        <div class="other-options range" [ngClass]="{ show: onShowSalary }">
          <div>Choose your salary</div>
          <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options"></ng5-slider>
        </div>
      </div>
      <div class="filter-btn dropdown wave-effect exp" (click)="onShowExp = !onShowExp">
        <mat-icon>trending_up</mat-icon> Exp.level
        <mat-icon>expand_more</mat-icon>
        <div class="other-options" [ngClass]="{ show: onShowExp }">
          <option class="other-option">All</option>
          <option class="other-option">Junior</option>
          <option class="other-option">Mid</option>
          <option class="other-option">Senior</option>
        </div>
      </div>
    </div>
  </div>
</app-filters>

<app-filters-mobile *ngIf="!isDesktopWidth">
  <mat-select class="filter-select" [value]="'All'">
    <mat-option *ngFor="let tech of allTechnologies" [value]="tech" (click)="selectedTech = tech">
      {{ tech }}
    </mat-option>
  </mat-select>
</app-filters-mobile>
