.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  justify-content: space-between;

  .header-logo {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.menu-links {
  display: flex;
  flex-direction: row;
  height: 100%;

  .list-item {
    font-size: 15px;
    line-height: 24px;
    color: #99a1ab;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 14px;
  }

  .list-item:hover {
    color: #f48fb1;
  }

  .list-item.active {
    color: #ff4081;
  }

  .mat-icon {
    margin-right: 10px;
  }
}

.menu-btns {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: stretch;

  a.btn-rounded {
    background-color: #ff4081;
    color: #fff;
    box-shadow: none;
    text-transform: none;
    font-weight: 600;
    line-height: 42px;
    font-size: 14px;
    height: 42px;
    padding: 0 22px;
    transition: 0.3s ease-out;
  }

  a.sign-in {
    background-color: #9c27b0;
    margin-left: 12px;
  }

  a:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.sidenav-logo {
  position: relative;
  margin-bottom: 10px;
}

.sidenav-logo::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1.5px;
  background-color: rgb(224, 224, 224);
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.btn-toggle-nav {
  color: #99a1ab;
  margin-right: 10px;
}

.btn-toggle-nav:hover {
  box-shadow: none;
  color: #f48fb1;
}

.sidenav-list {
  .sidenav-list-item {
    font-size: 15px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 56px;
    height: 56px;
    padding: 0 32px;
    font-weight: 500;
  }

  .sidenav-list-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #ff4081;

    .mat-icon {
      color: #ff4081;
    }
  }

  .mat-icon {
    margin-right: 32px;
    color: rgba(0, 0, 0, 0.54);
  }
}

.sign-userbox {
  height: 100%;
  border-left: solid 1px #e5eaf3;
  border-right: solid 1px #e5eaf3;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.user-dropdown-header {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 14px;
  font-size: 14px;
  color: #99a1ab;
  max-width: 200px;
  align-items: center;

  .user-avatar {
    width: 40px;
    height: 40px;
    border: solid 3px #fff;
    box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.08);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-right: 7px;
    background: #e2e2e2;
    color: #fff;
    padding-top: 3px;
    flex-shrink: 0;
  }

  .mat-icon {
    vertical-align: middle;
  }
}

.user-dropdown-body {
  left: 75%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-height: 650px;
  transform: translate(calc(11vw - 50%), 40px);
  opacity: 0;
  visibility: hidden;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.5);
  padding: 15px;

  .user-link {
    margin: 4px 0;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    min-height: 50px;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    border: 1px solid #e4e8f0;
    border-radius: 5px;
    color: #37474f;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding: 11px 22px;
    display: flex;
    align-items: center;

    .mat-icon {
      display: inline-block;
      font-size: 20px;
      padding: 14px;
      color: #ff4081;
      background: #ffe3ed;
      border-radius: 50%;
      width: auto;
      height: auto;
      margin-right: 30px;
    }
  }
  .user-link:hover {
    background-color: #eee;
    box-shadow: none;
  }
}

.user-dropdown-body.show {
  visibility: visible;
  opacity: 1;
  transform: translate(calc(11vw - 50%), 75px);
  transition: all 0.5s;
}
