.offers-main-content {
  display: flex;
  min-height: 100%;
}

.offers {
  background-color: #f3f6f8;
  overflow-y: scroll;
  width: 55%;
  position: fixed;
  top: 205px;
  bottom: 0;
  left: 0;
}

.map {
  width: 45%;
  position: fixed;
  top: 205px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.hide-map {
  display: none;
  position: fixed;
  z-index: 5;
  left: 50%;
  bottom: -4px;
  width: 56px;
  height: 56px;
  color: #fff;
  background-color: #ff4081;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease-out;
  padding: 0;

  .mat-icon {
    line-height: 56px;
    font-size: 28px;
    height: 56px;
    width: 56px;
  }

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .offers {
    width: 60%;
  }

  .map {
    width: 40%;
  }
}


@media (max-width: 1024px) {
  .map {
    display: none;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .map.show-map {
    display: block;
    z-index: 4;
  }

  .offers {
    width: 100%;
    top: 185px;
    position: inherit;
    overflow-y: hidden;
  }

  .hide-map {
    display: block;
  }
}
