.filters-tech {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;

  .mat-select {
    width: 80%;
    text-align: center;
  }
}

.filter-btn.active {
  color: #fff;
  background: linear-gradient(to right, #ba68c8, #9c27b0);
}

.btn-all {
  .filter-btn {
    padding: 0 12px;
  }
}

.tech {
  margin-right: 15px;
  cursor: pointer;
  height: 56px;
  width: 40px;

  .filter-btn {
    width: 35px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    text-transform: none;
    width: 35px;
    height: 35px;
    line-height: 35px;

    &:hover {
      background-position: 30px;
    }

    &.inactive {
      color: #fff;
      background: linear-gradient(to right, #9193aa, #7d82a8) !important;
    }

    img {
      margin: 5.5px;
      height: 24px;
      width: 24px;
    }
  }

  span {
    padding-top: 3px;
    font-size: 0.7rem;
    color: rgb(153, 161, 171);
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

.tech.other-option {
  width: auto;
  padding: 7px 14px;
  display: flex;
  margin: 0;
  align-items: center;
  text-align: left;

  .filter-btn {
    min-width: 35px;
    height: 35px;
  }

  span {
    padding: auto 0;
    display: inline;
    color: #37474f;
    margin-left: 10px;
  }
}

.range {
  padding: 12px;
  width: 250px;
  left: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
  z-index: 100;
  margin: 5px 0 0 0;
  border-radius: 5px;
  background-color: #fff;
  color: #777;
  overflow: hidden;
  font-size: 14px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.range /deep/ {
  .ng5-slider {
    width: 200px;
    font-size: 14px;
  }
  .ng5-slider-pointer {
    width: 13px;
    height: 13px;
    top: -5px;
    background-color: #26a69a;
    outline: none;
  }
  .ng5-slider-pointer::after {
    position: absolute;
    top: -9px;
    left: -9px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .ng5-slider-pointer.ng5-slider-active::after {
    transform: scale(0.7);
    opacity: 1;
    background-color: #26a69a;
  }
  .ng5-slider-bar-wrapper {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .ng5-slider-selection {
    background-color: #26a69a;
  }
  .ng5-slider-bar {
    height: 2px;
  }
  .ng5-slider-bubble.ng5-slider-limit.ng5-slider-floor,
  .ng5-slider-bubble.ng5-slider-limit.ng5-slider-ceil {
    display: none;
  }

  .ng5-slider-bubble {
    font-size: 12px;
  }
}

.right-dropdowns {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;

  .dropdown {
    position: relative;
    cursor: pointer;
    padding: 0 7px 0 12px;
    margin: 0 15px 8px auto;
    width: 140px;
    text-align: center;
    font-size: 13px;

    .mat-icon {
      vertical-align: middle;
      font-size: 18px;
    }
  }
  .dropdown:nth-of-type(1) {
      width: 135px;
      padding: 0 0 0 5px;
      transition: 0.3s ease-out;

      .mat-icon {
        font-size: 24px;
      }
    }
}

.mat-option {
  align-items: flex-start;
  text-align: center;
}

.mat-option.mat-active {
  background: #fff;
}

.mobile-option {
  text-align: left;
  height: 35px;
}

