.filters {
  height: 125px;
  background-color: #f3f6f8;
  max-width: 100%;
  padding: 12px 40px 0 18px;

  .filters-place {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .filter-btn.active {
    color: #fff;
    background: linear-gradient(to right, #ba68c8, #9c27b0);
  }
}

.night-switch {
  margin-left: auto;

  .mat-icon {
    margin: 0 10px;
  }
}
