<div class="filters">
  <div class="filters-place">
    <div matRipple
    *ngFor="let place of places"
    class="filter-btn waves-effect"
    [ngClass]="{ active: place === selectedPlace }"
      (click)="selectedPlace = place">
      {{ place }}
    </div>
    <div class="filter-btn more wave-effect" (click)="onShow = !onShow">
      <mat-icon matRipple>more_horiz</mat-icon>
      <div class="other-options" [ngClass]="{ show: onShow }">
        <option class="other-option" *ngFor="let otherOption of otherPlaces">
          {{ otherOption }}
        </option>
      </div>
    </div>
    <div class="night-switch">
      <div class="switch">
        <mat-icon>wb_sunny</mat-icon>
        <mat-slide-toggle class="night-toggle"></mat-slide-toggle>
        <mat-icon> brightness_3</mat-icon>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
