.no-offers-container {
  text-align: center;
}

.notfound-message {
  padding-top: 30px;
  text-align: center;
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.remove-btn, .login-btn {
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  background-color: #ff4081;
  text-align: center;
  letter-spacing: 0.5px;
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  margin: 20px auto 0;
}

.login-btn {
  margin-right: 20px;
}

.remove-btn:hover, .login-btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  background-color: #ff5a92;
}
