/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";

@import "styles/_overrides";
@import "styles/_variables";

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html > body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #37474f;
  background-color: #f3f6f8;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
}

app-root {
  min-height: 100vh;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;

  a {
    text-decoration: none;
    color: black;
  }
}

.night-switch {
  color: #9e9e9e;

  .night-toggle {
    vertical-align: middle;
  }

  .mat-icon {
    font-size: 22px;
    vertical-align: middle;
    transform: rotate(180deg);
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #9e9e9e;
  }

  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #fafafa;
  }

  .mat-slide-toggle .mat-slide-toggle-ripple {
    display: none;
    height: 0px;
    width: 0px;
  }
}

.filter-btn {
  background-color: #fff;
  color: #777;
  box-shadow: none;
  text-transform: none;
  margin-right: 15px;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  font-size: 13px;
  border-radius: 20px;
  vertical-align: middle;
  border: none;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.filter-btn:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.filter-btn.more {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  margin-right: 0;
  padding: 0 12px 0 0;

  .mat-icon {
    border-radius: 50%;
    vertical-align: middle;
    color: #37474f;
  }
}

.filter-btn.more:hover {
  box-shadow: none;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  vertical-align: middle;
  z-index: 1;
  transition: 0.3s ease-out;
}

.sidenav-container.mat-drawer-container {
  position: static;
}

.mat-drawer.mat-sidenav {
  z-index: 10;
}

.mat-drawer-backdrop.mat-drawer-shown {
  z-index: 9;
}

.other-options {
  visibility: hidden;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  justify-content: center;
  z-index: 100;
  margin: 5px 0 0 0;
  border-radius: 5px;
  max-height: 0;
  background-color: #fff;
  color: #37474f;
  padding: 0;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.other-options.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s, max-height 0.8s;
  max-height: 600px;
}

.other-option {
  padding: 7px 24px;
  text-align: center;
  line-height: 1.5;
  cursor: pointer;
}

.other-option:hover {
  background-color: #f3f6f8;
}

.filter-select {
  flex-basis: 1;
  margin: 0 5px;
  font-size: 18px;
  border-radius: 3px;
  appearance: none;
  height: auto;
  color: #484848;
  padding: 14px;
  border: 0px solid #dce0e0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #37474f;
}

.js {
  background: linear-gradient(-90deg, #ffc706, #ffaf00);
}

.html {
  background: linear-gradient(-90deg, #ff7d50, #fd5d21);
}

.php {
  background: linear-gradient(-90deg, #41adfa, #157cfc);
}

.ruby {
  background: linear-gradient(-90deg, #ef5350, #f44336);
}

.python {
  background: linear-gradient(-90deg, #1f5eb6, #1f7bc4);
}

.java {
  background: linear-gradient(-90deg, #fa656b, #f9597a);
}

.dotNet {
  background: linear-gradient(-90deg, #3fc5e6, #4fa4fd);
}

.scala {
  background: linear-gradient(-90deg, #f86468, #f1464c);
}

.cplus {
  background: linear-gradient(-90deg, #2fcfbb, #37dd9c);
}

.mobile {
  background: linear-gradient(-90deg, #e04f86, #ba4a8d);
}

.testing {
  background: linear-gradient(-90deg, #89db54, #65af35);
}

.devops {
  background: linear-gradient(-90deg, #5266e1, #8166e0);
}

.game {
  background: linear-gradient(-90deg, #ff4081, #ec407a);
}

.ux {
  background: linear-gradient(-90deg, #ffb74d, #ff9800);
}

.pm {
  background: linear-gradient(-90deg, #80cbc4, #4db6ac);
}

.blockchain {
  background: linear-gradient(-90deg, #ab47bc, #6a1b9a);
}

.security {
  background: linear-gradient(-90deg, #536dfe, #0d47a1);
}

.data {
  background: linear-gradient(-90deg, #009688, #00796b);
}
.golang {
  background: linear-gradient(-90deg, #6ad7e5, #6a8be5);
}

.sap {
  background: linear-gradient(-90deg, #02afeb, #1b68c2);
}

.other {
  background: linear-gradient(-90deg, #ec4cb6, #d44bd5);
}

#map .leaflet-pane.leaflet-marker-pane > img {
  border-radius: 50%;
  padding: 6px;
}

.offer-popup {
  font-size: 13px;
  font-weight: 300;
  display: flex;
}

.logo-popup {
  position: relative;
  display: flex;
  margin: auto 0;
  padding: 0 15px;
  text-align: center;
}

.offer-info {
  margin: 0 10px 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;

  .title-job,
  .company-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .salary {
    color: #1ec66c;
    font-weight: 400;
    white-space: nowrap;
  }
}

.leaflet-tooltip-pane {
  top: -27px;
}
