<a class="offer-item" [routerLink]="(offer.premium) ? [appRouterUrls.OFFER, index, {premium : true}] : [appRouterUrls.OFFER, index]">
 <div class="offer-border-left" [ngClass]="backgroundClass"></div>
  <div class="company-logo-container">
    <img
      class="company-logo"
      src="{{ './assets/images/'+ offer.logoPath }}"
    />
  </div>
  <div class="row">
    <div class="first-line">
      <span class="job-title">{{ offer.jobTitle }}</span>
      <span *ngIf="offer.remote === 'true'" class="remote">Remote</span>
      <span *ngIf="offer.premium" class="remote">Premium</span>
      <div class="right-content">
        <span class="salary">{{ offer.salary }}</span>
        <span class="date" [ngClass]="{'new': timeSince(offer.date) === 'new'}">{{ timeSince(offer.date) }}</span>
      </div>
    </div>
    <div class="second-line">
      <div class="company-info">
        <span class="company-name">
          <mat-icon>business</mat-icon>
          {{ offer.companyName }}</span
        >
        <span class="company-address">
          <mat-icon>room</mat-icon>
          {{ offer.companyAddress }}</span
        >
      </div>
      <div class="tags">
        <span class="tag">{{ offer.skills[0] }}</span>
        <span class="tag" *ngIf="offer.skills[1]">{{ offer.skills[1] }}</span>
        <span class="tag" *ngIf="offer.skills[2]">{{ offer.skills[2] }}</span>
      </div>
    </div>
  </div>
</a>
<router-outlet></router-outlet>
